.colorme {
	color: #5876B7;
}

.nav-bar>li:hover,.nav-bar>li a:hover {
	color: #749f93;
}

.nav-bar>li.active>a {
	
}

ul.flyout li a:hover,.nav-bar li ul li a:hover {
	color: #749f93;
}

.flyout {
	border-top: 2px solid #5876B7;
}

.sectiontitle {
	border-left: 4px solid #5876B7;
}

::-moz-selection {
	background: #5876B7;
	color: #fff;
}

::selection {
	background: #5876B7;
	color: #fff;
}

.ca-menu li:hover .ca-main {
	color: #5876B7;
}

.topborder {
	border-top: 4px solid #5876B7;
}

.readmore {
	background: #5876B7;
}

#subheader {
	background: #5876B7;
	border-top: 1px solid #5876B7;
	color: #eee;
}

#subheader a {
	color: #eee;
}

#subheader a:hover {
	color: #fff;
}

.readmore {
	background: #5876B7;
}

.tags {
	background: #5876B7;
}

ul.pagination li.current a {
	background: #5876B7;
}

.saymore {
	color: #5876B7;
}

.submit {
	background: #5876B7;
}

dl.tabs dd.active {
	border-bottom: 3px solid #5876B7;
}

ul.accordion>li.active {
	border-top: 3px solid #5876B7;
}

div.alert-box.default {
	background-color: #5876B7;
}

.slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #5876B7;
}

.btn-slide {
	background: #5876B7 url(../../images/plus.png) no-repeat;
}

.btn-slide.active {
	background: #5876B7 url(../../images/minus.png) no-repeat;
}

#footer {
	border-top: #5876B7 4px solid;
}

.back-top a:hover {
	background-color: #5876B7;
}

.sf-shadow ul {
	border-top: 2px solid #5876B7;
}

.colorbackground {
	background: #5876B7;
}

/* .testimonials,.projectSpotlight {
	border-left: solid 6px #5876B7;
}
 */
.testimonials blockquote cite,.projectSpotlight blockquote cite {
	color: #5876B7;
}

.ei-title h2 {
	background: #5876B7;
}